<%= form_with(model: writing) do |form| %>
    <%# Handles errors %>
    <% if writing.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(writing.errors.count, "error") %> prohibited this writing from being saved:</h2>

            <ul>
                <% writing.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%# Title Input %>
    <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title %>
    </div>

    <%# Body Input %>
    <div>
        <%= form.label :body, style: "display: block" %>
        <%= form.rich_text_area :body %>
    </div>

    <%# Submmit Button %>
    <div>
        <%= form.submit %>
    </div>
<% end %>
