<div id="<%= dom_id text_matching %>">
    <%# Title %>
    <p>
        <strong>Title:</strong>
        <%= text_matching.title %>
    </p>

    <%# Para 1 %>
    <p>
        <strong>Para 1:</strong>
        <%= text_matching.para1 %>
    </p>

    <%# Para 2 %>
    <p>
        <strong>Para 2:</strong>
        <%= text_matching.para2 %>
    </p>

    <%# Para 3 %>
    <p>
        <strong>Para 3:</strong>
        <%= text_matching.para3 %>
    </p>

    <%# Para 4 %>
    <p>
        <strong>Para 4:</strong>
        <%= text_matching.para4 %>
    </p>

    <%# Subtitle 1 %>
    <p>
        <strong>Sub1:</strong>
        <%= text_matching.sub1 %>
    </p>

    <%# Subtitle 2 %>
    <p>
        <strong>Sub2:</strong>
        <%= text_matching.sub2 %>
    </p>

    <%# Subtitle 3 %>
    <p>
        <strong>Sub3:</strong>
        <%= text_matching.sub3 %>
    </p>

    <%# Subtitle 4 %>
    <p>
        <strong>Sub4:</strong>
        <%= text_matching.sub4 %>
    </p>

    <%# Reading %>
    <p>
        <strong>Reading:</strong>
        <%= text_matching.reading_id %>
    </p>
</div>
