<%= form_with(model: text_choice) do |form| %>
    <%# Handles errors %>
    <% if text_choice.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(text_choice.errors.count, "error") %> prohibited this text_choice from being saved:</h2>

          <ul>
              <% text_choice.errors.each do |error| %>
                  <li><%= error.full_message %></li>
              <% end %>
          </ul>
        </div>
    <% end %>

    <%# Title Input %>
    <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title %>
    </div>

    <%# Subtitle Input %>
    <div>
        <%= form.label :subtitle, style: "display: block" %>
        <%= form.text_field :subtitle %>
    </div>

    <%# Body Input %>
    <div>
        <%= form.label :body, style: "display: block" %>
        <%= form.textarea :body %>
    </div>

    <%# Submmit Button %>
    <div>
        <%= form.submit %>
    </div>
<% end %>
