<div id="<%= dom_id text_choice %>">
    <%# Title %>
    <p>
        <strong>Title:</strong>
        <%= text_choice.title %>
    </p>

    <%# Subtitle %>
    <p>
        <strong>Subtitle:</strong>
        <%= text_choice.subtitle %>
    </p>

    <%# Body %>
    <p>
        <strong>Body:</strong>
        <%= text_choice.body %>
    </p>

    <%# Reading %>
    <p>
        <strong>Reading:</strong>
        <%= text_choice.reading_id %>
    </p>
</div>
