<div class="container">
    <%# Text Choice %>
    <%= render @text_choice %>

    <div>
        <%# Edit Link %>
        <%= link_to "Edit this text choice", edit_text_choice_path(@text_choice) %> |
        <%# Return Link %>
        <%= link_to "Back to text choices", text_choices_path %>

        <%# Destroy Button %>
        <%= button_to "Destroy this text choice", @text_choice, method: :delete %>
    </div>
</div>

<div class="container">
    <%# Form for new Question %>
    <%= render "reading_questions/form", reading_question: @text_choice.reading.reading_questions.build %>

    <%# Display all Questions %>
    <% @reading_questions.each do |reading_question| %>
        <%= render 'reading_questions/reading_question', reading_question: reading_question %>
    <% end %>
</div>
