<div id="<%= dom_id reading_question %>">
  <p>
    <strong>Question:</strong>
    <%= reading_question.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= reading_question.answer %>
  </p>

  <p>
    <strong>Optiona:</strong>
    <%= reading_question.optionA %>
  </p>

  <p>
    <strong>Optionb:</strong>
    <%= reading_question.optionB %>
  </p>

  <p>
    <strong>Optionc:</strong>
    <%= reading_question.optionC %>
  </p>

  <p>
    <strong>Optiond:</strong>
    <%= reading_question.optionD %>
  </p>

  <p>
    <strong>Reading:</strong>
    <%= reading_question.reading_id %>
  </p>

    <p>
      <%= link_to "Show this reading question", reading_question %>
    </p>
</div>
