<div class="container">
    <%# Heading %>
    <h1 class="text-center">Administrator</h1>

    <%# Admin links %>
    <%= render 'admin/nav_links' %>

    <%# Writings Table %>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col1">Id</th>
                <th scope="col1">Writing</th>
                <th scope="col1">Author</th>
                <th scope="col1">Conversations</th>
            </tr>
        </thead>

        <tbody>
            <% @writings.each do |writing| %>
                <tr>
                    <th scope="row"><%= writing.id %></th>
                    <td><%= link_to writing.title.truncate(15), admin_writing_path(writing) %></td>
                    <td><%= writing.user.name %></td>
                    <td><%= pluralize(writing.writing_conversations.size, "Comments")  %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>