<div class="container">
    <%# Heading %>
    <h1>Splodge Academy Server</h1>

    <%# Info Page Link %>
    <%= link_to 'System Information', info_path, class: 'btn btn-secondary' %>

    <%# Writings Link %>
    <%= link_to 'Writings', writings_path, class: 'btn btn-primary' %>

    <%# Problems Link %>
    <%= link_to 'Problems', problems_path, class: 'btn btn-primary' %>

    <%# Listenings Link %>
    <%= link_to 'Listenings', listenings_path, class: 'btn btn-primary' %>

    <%# Readings Link %>
    <%= link_to 'Readings', readings_path, class: 'btn btn-primary' %>

    <%# Prompts Link %>
    <%= link_to 'Prompts', prompts_path, class: 'btn btn-primary' %>
</div>
