<div id="<%= dom_id multiple_choice %>">
    <%# Question %>
    <p>
        <strong>Question:</strong>
        <%= multiple_choice.question %>
    </p>

    <%# Option A %>
    <p>
        <strong>Option A:</strong>
        <%= multiple_choice.optionA %>
    </p>

    <%# Option B %>
    <p>
        <strong>Option B:</strong>
        <%= multiple_choice.optionB %>
    </p>

    <%# Option C %>
    <p>
        <strong>Option C:</strong>
        <%= multiple_choice.optionC %>
    </p>

    <%# Option D %>
    <p>
        <strong>Option D:</strong>
        <%= multiple_choice.optionD %>
    </p>

    <%# Answer %>
    <p>
        <strong>Answer:</strong>
        <%= multiple_choice.answer %>
    </p>
</div>
