<%= form_with(model: sentence_transformation) do |form| %>
    <%# Handles errors %>
    <% if sentence_transformation.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(sentence_transformation.errors.count, "error") %> prohibited this sentence_transformation from being saved:</h2>

            <ul>
                <% sentence_transformation.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%# Question Input %>
    <div>
        <%= form.label :question, style: "display: block" %>
        <%= form.text_field :question %>
    </div>

    <%# Prompt Input %>
    <div>
        <%= form.label :prompt, style: "display: block" %>
        <%= form.text_field :prompt %>
    </div>

    <%# Answer Input %>
    <div>
        <%= form.label :answer, style: "display: block" %>
        <%= form.text_field :answer %>
    </div>

    <%# Keyword Input %>
    <div>
        <%= form.label :keyword, style: "display: block" %>
        <%= form.text_field :keyword %>
    </div>

    <%# Submmit Button %>
    <div>
        <%= form.submit %>
    </div>
<% end %>
