<div id="<%= dom_id sentence_transformation %>">
    <%# Question %>
    <p>
        <strong>Question:</strong>
        <%= sentence_transformation.question %>
    </p>

    <%# Prompt %>
    <p>
        <strong>Prompt:</strong>
        <%= sentence_transformation.prompt %>
    </p>

    <%# Answer %>
    <p>
        <strong>Answer:</strong>
        <%= sentence_transformation.answer %>
    </p>

    <%# Keyword %>
    <p>
        <strong>Keyword:</strong>
        <%= sentence_transformation.keyword %>
    </p>
</div>
