<div id="<%= dom_id text_missing %>">
    <%# Title %>
    <p>
        <strong>Title:</strong>
        <%= text_missing.title %>
    </p>

    <%# Option A %>
    <p>
        <strong>Option A:</strong>
        <%= text_missing.optionA %>
    </p>

    <%# Option B %>
    <p>
        <strong>Option B:</strong>
        <%= text_missing.optionB %>
    </p>

    <%# Option C %>
    <p>
        <strong>Option C:</strong>
        <%= text_missing.optionC %>
    </p>

    <%# Option D %>
    <p>
        <strong>Option D:</strong>
        <%= text_missing.optionD %>
    </p>

    <%# Option E%>
    <p>
        <strong>Option E:</strong>
        <%= text_missing.optionE %>
    </p>

    <%# Option F %>
    <p>
        <strong>Option F:</strong>
        <%= text_missing.optionF %>
    </p>

    <%# Option G %>
    <p>
        <strong>Option G:</strong>
        <%= text_missing.optionG %>
    </p>

    <%# Body %>
    <p>
        <strong>Body:</strong>
        <%= text_missing.body %>
    </p>

    <%# Reading %>
    <p>
        <strong>Reading:</strong>
        <%= text_missing.reading_id %>
    </p>
</div>
