<div id="<%= dom_id essay %>">
    <%# Situation %>
    <p>
        <strong>Situation:</strong>
        <%= essay.situation %>
    </p>

    <%# Task %>
    <p>
        <strong>Task:</strong>
        <%= essay.task %>
    </p>

    <%# Note 1 %>
    <p>
        <strong>Note 1:</strong>
        <%= essay.note1 %>
    </p>

    <%# Note 2 %>
    <p>
        <strong>Note 2:</strong>
        <%= essay.note2 %>
    </p>

    <%# Number of Writings %>
    <p>
        <strong>Number of Writings:</strong>
        <%= pluralize(essay.prompt.writings.size, "Writing") %>
    </p>
</div>
